* {
    margin: 5px;
    padding: 0px;
}

body {
    
    background-image:url("Estrelas.jpg");
}
.container {
    display: grid;
    grid-template-columns:20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding: 5px;
}


.cabecalho {
    display: grid;
    grid-column: 3/4;
    text-align: center;
    color: #8A2BE2;
}

#box1 {
    display: grid;
    grid-column: 1/1;
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: #FFFFFF;
    background-image:url("animes.jpg");
    width: 200px;
    height: 200px;
    border: 5px solid #455d20;
    border-radius: 10px;
}

#box2 {
    display: grid;
    grid-column: 2/2;
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: #FFFFFF;
    background-image:url("videogame.jpeg");
    width: 200px;
    height: 200px;
    border: 5px solid #7FFFD4;
    border-radius: 10px;
}
#box3 {
    display: grid;
    grid-column: 4/4;
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: #FFFFFF;
    background-image:url("Yugi.jpeg");
    width: 200px;
    height: 200px;
    border: 5px solid #455d20;
    border-radius: 10px;
}
#box4 {
    display: grid;
    grid-column: 5/5;
    text-align: center;
    align-items: center;
    font-size: 40px;
    color: #FFFFFF;
    background-image:url("RPG.jpeg");
    width: 200px;
    height: 200px;
    border: 5px solid #7FFFD4;
    border-radius: 10px;
}